.cartForm {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    align-items: center;
    margin-left: 1rem;
}

.cartBtn {
    border-radius: 0.5rem;
    background: radial-gradient(ellipse,#3b3eff, #000647);
    font-weight: bold;
    border: 1px outset;
    box-shadow: 1px 2px 2px 2px rgb(44, 44, 44);
    width: 100%;
    min-height: 3rem;
}

.cartBtn:hover {
    background: radial-gradient(ellipse,#858585, #222222);
}

.cartBtn:active {
    background: radial-gradient(ellipse, #2222223a 40%, #858585);
    transform: translate(1px, 2px);
    box-shadow: none;
    border: 1px inset black;
}

.purchaseOptions {
    display: flex;
    justify-content: space-between;
}

.quantity {
    text-align: center;
    align-self: center;
    color: black;
    padding: 5px;
    border-radius: 5px;
    width: 45%;
} 


.wishlistBtn {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    background-color: #ff3b65;
    border: outset rgb(29, 0, 18);
}

.wishlistBtn:hover {
    background-color: rgb(185, 0, 62);
}

.wishlistBtn:active {
    border: inset #a5a5a5;
    color: red;
    background-color: #460000;
}