.productsPage {
    width: 50%;
    height: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    background-color: rgba(240, 248, 255, 0.4);
    margin: auto;
    padding: 2rem;
}

/* width */
.productsPage::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
.productsPage::-webkit-scrollbar-track {
background: purple; 
}

/* Handle */
.productsPage::-webkit-scrollbar-thumb {
background: blueviolet; 
}

/* Handle on hover */
.productsPage::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.pageHeader {
    font-size: 5rem;
    font-weight: 700;
}

.products {
    display: flex;
    flex-direction: column;
}

.products li {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 1rem;
    background-color: rgba(75, 75, 75, 0.5);
}

.thumbnail {
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
    background-color: #333;
    border: 5px solid black;
    
}

.productInfo {
    background-color: rgba(0, 0, 128, 0.5);
    width: 80%;
    margin-left: 2rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;

}

.productDetail {
    background: linear-gradient(to right, #46464650 50%, #ffffff5e 75%);
    padding: 0.3rem 1rem;
    margin: 0 1rem;
}

.productDetail > span {
    font-weight: bolder;
    color: blanchedalmond;
}

@media screen and (min-width: 1600px) {
    .productsPage {
        width: 50%;
    }
}