.footer {
    /* justify-self: flex-end; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color:rgba(120, 60, 200, 0.5);
}

.footer p {
    margin-left: 2rem;
}