@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}


body {
  margin: 0px;
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: url("../../public/mystic.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

#bgLayer {
  background: rgba(0, 1, 59, 0.322) repeat-y;
  background-size: cover;
  min-height: 100%;
}

#bgLayer > div {
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
