.signupBox {
    margin: auto;
    width: 80%;
    border: 1px solid white;
    padding: 2rem 5rem;
}

.signupHeader {
    font-weight: 600;
    font-size: 4rem;
}

.accountTypeBtn {
    margin: 10px 10px 20px 0px;
    padding: 0.5rem 1.2rem;
    background-color: gray;
    border: 2px outset rgb(73, 73, 73);
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: inherit;
    color: white;
    width: 150px;
}

.activeBtn {
    border: 2px inset black;
    background-color: #6025ad;
    box-shadow: inset 1px 1px#3f1872;
}