.signupBox {
    margin: auto;
    width: 80%;
    border: 1px solid white;
    padding: 2rem 5rem;
}

.signupHeader {
    font-weight: 600;
    font-size: 4rem;
}

.signupForm {
    display: flex;
    flex-direction: column;
}

.signupForm label {
    font-size: 2rem;
    margin-top: 1rem;
}

.signupForm input {
    background-color: gainsboro;
    color: black;
    border-radius: 5px;
    font-size: 2rem;
    align-self: center;
    padding: 0.8rem;
    width: 100%;
}

.signupForm button {
    align-self: center;
    background-color: blue;
    width: 30%;
    height: 4rem;
    font-size: 2rem;
    border: 1.5px solid white;
    border-radius: 1rem;
    margin-top: 2.5rem;
}

.signupForm button:hover {
    background-color: rgb(0, 0, 163);
}

.signupForm button:active {
    background-color: gray;

}