.userPage {
    width: 80%;
    height: 84vh;
    margin: auto;
    padding: 4rem 0;
    background: rgba(255, 255, 255, 0.3);
    overflow-y: scroll;
}

.userPage::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 1600px) {
    .userPage {
        width: 50%;
    }
}