.userPage {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 4rem;
    background: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 1600px) {
    .userPage {
        width: 50%;
    }
}